Задание 1 - Работа с файлами Data Frame

- Определите, в каких столбцах есть пропущенные значения. Удалите все строки, в которых пропущено значение в столбце 'Бюджет (млн $)'.

- Заполните все пропущенные значения в столбце 'Режиссер' строкой 'Неизвестен'.

In [45]:
import pandas as pd
df=pd.read_csv('ДЗ_Pandas.csv')
df

,ID,Название фильма,Год выпуска,Жанр,Рейтинг,Бюджет (млн $),Сборы (млн $),Режиссер,Основные актеры
0,1,Космический эпос,2022,Фантастика,7.8,120.0,500,NaN,"Анна Петрова, Петр Сидоров"
1,2,Приключения времени,2020,Приключения,8.2,90.0,450,Мария Смирнова,"Сергей Васильев, Ольга Иванова"
2,3,Сердце океана,2021,Драма,8.5,60.0,300,Алексей Попов,"Дмитрий Кузнецов, Ирина Лебедева"
3,4,Секретные агенты,2019,Боевик,7.6,85.0,550,Кирилл Соколов,"Елена Романова, Артем Михайлов"
4,5,Загадка джунглей,2023,Приключения,7.0,NaN,350,Петр Ильин,"Антон Зайцев, Марина Краснова"
5,6,Городские легенды,2018,Триллер,NaN,40.0,200,Ольга Петрова,"Игорь Николаев, Екатерина Волкова"
6,7,Звёздные врата,2023,Научная фантастика,NaN,130.0,650,NaN,"Наталья Орлова, Антон Краснов"
7,8,Возвращение героя,2021,Боевик,7.9,95.0,480,Роман Васильев,"Максим Андреев, Алиса Горшкова"
8,9,Ночные гонки,2019,Драма,7.3,NaN,270,Елена Козлова,"Алексей Петров, Мария Сергеева"
9,10,Тайны прошлого,2022,Мистика,7.1,65.0,310,Дмитрий Иванов,"Светлана Иванова, Денис Смирнов"

In [18]:
df.dropna(subset=['Бюджет (млн $)'])

,ID,Название фильма,Год выпуска,Жанр,Рейтинг,Бюджет (млн $),Сборы (млн $),Режиссер,Основные актеры
0,1,Космический эпос,2022,Фантастика,7.8,120.0,500,NaN,"Анна Петрова, Петр Сидоров"
1,2,Приключения времени,2020,Приключения,8.2,90.0,450,Мария Смирнова,"Сергей Васильев, Ольга Иванова"
2,3,Сердце океана,2021,Драма,8.5,60.0,300,Алексей Попов,"Дмитрий Кузнецов, Ирина Лебедева"
3,4,Секретные агенты,2019,Боевик,7.6,85.0,550,Кирилл Соколов,"Елена Романова, Артем Михайлов"
5,6,Городские легенды,2018,Триллер,NaN,40.0,200,Ольга Петрова,"Игорь Николаев, Екатерина Волкова"
6,7,Звёздные врата,2023,Научная фантастика,NaN,130.0,650,NaN,"Наталья Орлова, Антон Краснов"
7,8,Возвращение героя,2021,Боевик,7.9,95.0,480,Роман Васильев,"Максим Андреев, Алиса Горшкова"
9,10,Тайны прошлого,2022,Мистика,7.1,65.0,310,Дмитрий Иванов,"Светлана Иванова, Денис Смирнов"

In [19]:
df.fillna({'Режиссер':'Неизвестен'}, inplace=True)
df

,ID,Название фильма,Год выпуска,Жанр,Рейтинг,Бюджет (млн $),Сборы (млн $),Режиссер,Основные актеры
0,1,Космический эпос,2022,Фантастика,7.8,120.0,500,Неизвестен,"Анна Петрова, Петр Сидоров"
1,2,Приключения времени,2020,Приключения,8.2,90.0,450,Мария Смирнова,"Сергей Васильев, Ольга Иванова"
2,3,Сердце океана,2021,Драма,8.5,60.0,300,Алексей Попов,"Дмитрий Кузнецов, Ирина Лебедева"
3,4,Секретные агенты,2019,Боевик,7.6,85.0,550,Кирилл Соколов,"Елена Романова, Артем Михайлов"
4,5,Загадка джунглей,2023,Приключения,7.0,NaN,350,Петр Ильин,"Антон Зайцев, Марина Краснова"
5,6,Городские легенды,2018,Триллер,NaN,40.0,200,Ольга Петрова,"Игорь Николаев, Екатерина Волкова"
6,7,Звёздные врата,2023,Научная фантастика,NaN,130.0,650,Неизвестен,"Наталья Орлова, Антон Краснов"
7,8,Возвращение героя,2021,Боевик,7.9,95.0,480,Роман Васильев,"Максим Андреев, Алиса Горшкова"
8,9,Ночные гонки,2019,Драма,7.3,NaN,270,Елена Козлова,"Алексей Петров, Мария Сергеева"
9,10,Тайны прошлого,2022,Мистика,7.1,65.0,310,Дмитрий Иванов,"Светлана Иванова, Денис Смирнов"

- Заполните все пропущенные значения в столбце 'Рейтинг' средним значением этого столбца.

- Если в строке пропущены значения и в 'Бюджет (млн $)', и  в 'Сборы (млн $)', удалите эту строку. В противном случае, если пропущено значение только в одном из этих столбцов, оставьте строку.

In [146]:
df['Рейтинг'].fillna(df['Рейтинг'].mean(),inplace=True) # mean=7.85
df

,ID,Название фильма,Год выпуска,Жанр,Рейтинг,Бюджет (млн $),Сборы (млн $),Режиссер,Основные актеры
0,1,Космический эпос,2022,Фантастика,7.800,120.0,500,NaN,"Анна Петрова, Петр Сидоров"
1,2,Приключения времени,2020,Приключения,8.200,90.0,450,Мария Смирнова,"Сергей Васильев, Ольга Иванова"
2,3,Сердце океана,2021,Драма,8.500,60.0,300,Алексей Попов,"Дмитрий Кузнецов, Ирина Лебедева"
3,4,Секретные агенты,2019,Боевик,7.600,85.0,550,Кирилл Соколов,"Елена Романова, Артем Михайлов"
4,5,Загадка джунглей,2023,Приключения,7.000,NaN,350,Петр Ильин,"Антон Зайцев, Марина Краснова"
5,6,Городские легенды,2018,Триллер,7.675,40.0,200,Ольга Петрова,"Игорь Николаев, Екатерина Волкова"
6,7,Звёздные врата,2023,Научная фантастика,7.675,130.0,650,NaN,"Наталья Орлова, Антон Краснов"
7,8,Возвращение героя,2021,Боевик,7.900,95.0,480,Роман Васильев,"Максим Андреев, Алиса Горшкова"
8,9,Ночные гонки,2019,Драма,7.300,NaN,270,Елена Козлова,"Алексей Петров, Мария Сергеева"
9,10,Тайны прошлого,2022,Мистика,7.100,65.0,310,Дмитрий Иванов,"Светлана Иванова, Денис Смирнов"

In [29]:
df.dropna(subset=['Бюджет (млн $)', 'Сборы (млн $)'])

,ID,Название фильма,Год выпуска,Жанр,Рейтинг,Бюджет (млн $),Сборы (млн $),Режиссер,Основные актеры
0,1,Космический эпос,2022,Фантастика,7.800,120.0,500,Неизвестен,"Анна Петрова, Петр Сидоров"
1,2,Приключения времени,2020,Приключения,8.200,90.0,450,Мария Смирнова,"Сергей Васильев, Ольга Иванова"
2,3,Сердце океана,2021,Драма,8.500,60.0,300,Алексей Попов,"Дмитрий Кузнецов, Ирина Лебедева"
3,4,Секретные агенты,2019,Боевик,7.600,85.0,550,Кирилл Соколов,"Елена Романова, Артем Михайлов"
5,6,Городские легенды,2018,Триллер,7.675,40.0,200,Ольга Петрова,"Игорь Николаев, Екатерина Волкова"
6,7,Звёздные врата,2023,Научная фантастика,7.675,130.0,650,Неизвестен,"Наталья Орлова, Антон Краснов"
7,8,Возвращение героя,2021,Боевик,7.900,95.0,480,Роман Васильев,"Максим Андреев, Алиса Горшкова"
9,10,Тайны прошлого,2022,Мистика,7.100,65.0,310,Дмитрий Иванов,"Светлана Иванова, Денис Смирнов"

Задание 2 - Grouby
Группировка по Жанру:
- Сгруппируйте фильмы по жанру
- Рассчитайте средний рейтинг и средний бюджет в каждом жанре.

In [63]:
df.groupby('Жанр').sum()['Название фильма'].reset_index()

                 Жанр                      Название фильма
0              Боевик    Секретные агентыВозвращение героя
1               Драма            Сердце океанаНочные гонки
2             Мистика                       Тайны прошлого
3  Научная фантастика                       Звёздные врата
4         Приключения  Приключения времениЗагадка джунглей
5             Триллер                    Городские легенды
6          Фантастика                     Космический эпос

In [148]:
df.groupby('Жанр').agg({'Рейтинг': 'mean', 'Бюджет (млн $)': 'mean'})

                    Рейтинг  Бюджет (млн $)
Жанр
Боевик                7.750            90.0
Драма                 7.900            60.0
Мистика               7.100            65.0
Научная фантастика    7.675           130.0
Приключения           7.600            90.0
Триллер               7.675            40.0
Фантастика            7.800           120.0

Группировка по Году Выпуска:

- Сгруппируйте фильмы по году выпуска

- Определите общее количество фильмов и суммарные сборы в прокате по каждому году.

In [64]:
df.groupby('Год выпуска').sum().reset_index()

,Год выпуска,ID,Название фильма,Жанр,Рейтинг,Бюджет (млн $),Сборы (млн $),Режиссер,Основные актеры
0,2018,6,Городские легенды,Триллер,0.0,40.0,200,Ольга Петрова,"Игорь Николаев, Екатерина Волкова"
1,2019,13,Секретные агентыНочные гонки,БоевикДрама,14.9,85.0,820,Кирилл СоколовЕлена Козлова,"Елена Романова, Артем МихайловАлексей Петров, ..."
2,2020,2,Приключения времени,Приключения,8.2,90.0,450,Мария Смирнова,"Сергей Васильев, Ольга Иванова"
3,2021,11,Сердце океанаВозвращение героя,ДрамаБоевик,16.4,155.0,780,Алексей ПоповРоман Васильев,"Дмитрий Кузнецов, Ирина ЛебедеваМаксим Андреев..."
4,2022,11,Космический эпосТайны прошлого,ФантастикаМистика,14.9,185.0,810,Дмитрий Иванов,"Анна Петрова, Петр СидоровСветлана Иванова, Де..."
5,2023,12,Загадка джунглейЗвёздные врата,ПриключенияНаучная фантастика,7.0,130.0,1000,Петр Ильин,"Антон Зайцев, Марина КрасноваНаталья Орлова, А..."

In [79]:
df.groupby('Год выпуска').agg({'Название фильма': 'count','Сборы (млн $)':sum})

             Название фильма  Сборы (млн $)
Год выпуска
2018                       1            200
2019                       2            820
2020                       1            450
2021                       2            780
2022                       2            810
2023                       2           1000

Комбинированная Группировка:

- Сгруппируйте фильмы по жанру и году выпуска

- Рассчитайте средний рейтинг для каждой комбинации жанра и года выпуска

In [102]:
df.groupby(['Жанр','Год выпуска']).agg({'Название фильма':sum}).reset_index()

                 Жанр  Год выпуска      Название фильма
0              Боевик         2019     Секретные агенты
1              Боевик         2021    Возвращение героя
2               Драма         2019         Ночные гонки
3               Драма         2021        Сердце океана
4             Мистика         2022       Тайны прошлого
5  Научная фантастика         2023       Звёздные врата
6         Приключения         2020  Приключения времени
7         Приключения         2023     Загадка джунглей
8             Триллер         2018    Городские легенды
9          Фантастика         2022     Космический эпос

In [150]:
df.groupby(['Жанр', 'Год выпуска']).agg({'Рейтинг':'mean'})

                                Рейтинг
Жанр               Год выпуска
Боевик             2019           7.600
                   2021           7.900
Драма              2019           7.300
                   2021           8.500
Мистика            2022           7.100
Научная фантастика 2023           7.675
Приключения        2020           8.200
                   2023           7.000
Триллер            2018           7.675
Фантастика         2022           7.800

Задание 3 - reset index

Группировка и Сортировка:

- Сгруппируйте фильмы по жанру и рассчитайте средний рейтинг для каждого жанра

- Сбросьте индекс и отсортируйте результаты по среднему рейтингу в убывающем порядке

In [153]:
df.groupby('Жанр').agg({'Название фильма':sum,'Рейтинг':'mean'})

                                        Название фильма  Рейтинг
Жанр
Боевик                Секретные агентыВозвращение героя    7.750
Драма                         Сердце океанаНочные гонки    7.900
Мистика                                  Тайны прошлого    7.100
Научная фантастика                       Звёздные врата    7.675
Приключения         Приключения времениЗагадка джунглей    7.600
Триллер                               Городские легенды    7.675
Фантастика                             Космический эпос    7.800

In [152]:
df.groupby('Жанр').agg({'Название фильма':sum,'Рейтинг':'mean'}).sort_values('Рейтинг', ascending=False)

                                        Название фильма  Рейтинг
Жанр
Драма                         Сердце океанаНочные гонки    7.900
Фантастика                             Космический эпос    7.800
Боевик                Секретные агентыВозвращение героя    7.750
Научная фантастика                       Звёздные врата    7.675
Триллер                               Городские легенды    7.675
Приключения         Приключения времениЗагадка джунглей    7.600
Мистика                                  Тайны прошлого    7.100

Анализ частоты:

- Используйте value_counts для определения, сколько фильмов было выпущено в каждом году

- Отсортируйте результаты по годам в порядке возрастания

In [125]:
df1=df['Год выпуска'].value_counts().reset_index()
df1

   Год выпуска  count
0         2022      2
1         2021      2
2         2019      2
3         2023      2
4         2020      1
5         2018      1

In [121]:
df['Год выпуска'].value_counts().sort_values().reset_index()

   Год выпуска  count
0         2020      1
1         2018      1
2         2022      2
3         2021      2
4         2019      2
5         2023      2

In [131]:
# Если год выпуска в порядке возрастания
df1.sort_values(by='Год выпуска',ascending=True).reset_index()

   index  Год выпуска  count
0      5         2018      1
1      2         2019      2
2      4         2020      1
3      1         2021      2
4      0         2022      2
5      3         2023      2

Комбинированный Анализ:

- Сгруппируйте фильмы по режиссеру и жанру, затем рассчитайте общие сборы фильмов для каждой комбинации

- Сбросьте индекс и отсортируйте результаты по сумме сборов в убывающем порядке

In [143]:
df2=df.groupby(['Режиссер', 'Жанр'])[['Название фильма','Сборы (млн $)']].sum().reset_index()
df2

         Режиссер         Жанр      Название фильма  Сборы (млн $)
0   Алексей Попов        Драма        Сердце океана            300
1  Дмитрий Иванов      Мистика       Тайны прошлого            310
2   Елена Козлова        Драма         Ночные гонки            270
3  Кирилл Соколов       Боевик     Секретные агенты            550
4  Мария Смирнова  Приключения  Приключения времени            450
5   Ольга Петрова      Триллер    Городские легенды            200
6      Петр Ильин  Приключения     Загадка джунглей            350
7  Роман Васильев       Боевик    Возвращение героя            480

In [145]:
df2.sort_values('Сборы (млн $)', ascending=False).reset_index()

   index        Режиссер         Жанр      Название фильма  Сборы (млн $)
0      3  Кирилл Соколов       Боевик     Секретные агенты            550
1      7  Роман Васильев       Боевик    Возвращение героя            480
2      4  Мария Смирнова  Приключения  Приключения времени            450
3      6      Петр Ильин  Приключения     Загадка джунглей            350
4      1  Дмитрий Иванов      Мистика       Тайны прошлого            310
5      0   Алексей Попов        Драма        Сердце океана            300
6      2   Елена Козлова        Драма         Ночные гонки            270
7      5   Ольга Петрова      Триллер    Городские легенды            200